.MessageBox {
    width: 45%;
    min-width: 300px;
    margin-bottom: 0.5rem;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
}

.MessageBox-title {

}

.MessageBox-message {
    min-height: 150px;
    text-align: left;
    padding: 0.5em;
    word-break: break-word;
    overflow: auto;
}