.Blog {
    font-family: 'Montserrat', sans-serif;
}

.Blog-spin {
    font-size: 2em;
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 50%, 0.4);
}

.Blog-title {

}

.Blog-entry {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em 0 0 0.5em;
    margin: 1em;
    width: auto;
}
.Blog-entry-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.Blog-entry-title {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.Blog-entry-title-buttons {
    margin: 0;
    padding: 0;
}
.Blog-entry-title-button {
    margin: 0 0 0 0.5em;
}
.Blog-entry-text {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 0;
}
.Blog-entry-misc {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size: 0.5em;
    margin: 0;
    color: hsla(0, 0%, 50%, 0.8);
}

.Blog-article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.Blog-article-title {
    align-items: flex-start;

}

.Blog-article-body {

}