.Dashboard-monthCalendar, 
.Dashboard-month {
    font-family: 'Montserrat', sans-serif;
    text-align: start;
}

.Dashboard {
    font-family: 'Montserrat', sans-serif;
}

.Dashboard-title {
}

.Dashboard-userName {
    padding: 0;
    margin: 0;
    font-size: 0.5em;
}

.Dashboard-yearCalendar {
    font-family: 'Roboto', sans-serif;
    border: none;
    padding: 1em 0 0 0;
    margin: 1em 0 1em 0;
    justify-content: center;
    align-items: center;
}

.Dashboard-yearCalendar table,th, td {
    border:none;
    border-spacing : 1px;
    border-collapse:separate;
    margin: 0 auto;
}

.Dashboard-yearCalendar td {
    border-radius: 3px;
    width: 11px;
    height: 11px;
    border: 1px solid black;
    
}

.Dashboard-month {
}

.Dashboard-monthCalendar-weekCell {
    font-family: 'Roboto', sans-serif;
}

.Dashboard-monthCalendar-dayCell {
    font-family: 'Source Code Pro', monospace;
    background-color: aqua;
}
