.Dashboard-monthCalendar, 
.Dashboard-month {
    font-family: 'Montserrat', sans-serif;
    text-align: start;
}

.Dashboard {
    font-family: 'Montserrat', sans-serif;
}

.Dashboard-title {
}

.Dashboard-userName {
    padding: 0;
    margin: 0;
    font-size: 0.5em;
}

.Dashboard-yearCalendar {
    border: none;
    padding-top: 1em;
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
}

.Dashboard-yearCalendar table,th {
    border:none;
    border-spacing : 1px;
    border-collapse:separate;
    margin: 0 auto;
}

.Dashboard-yearCalendar td {
    border-radius: 3px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    
}

.Dashboard-month {
}

.Dashboard-monthCalendar-weekCell {
    font-family: 'Roboto', sans-serif;
}

.Dashboard-monthCalendar-dayCell {
    font-family: 'Source Code Pro', monospace;
    background-color: aqua;
}
