.PostIt {
    width: 155px;
    height: 150px; 
    background-color: lightyellow;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.PostIt-header {
    padding: 0.5rem;
    overflow-wrap: break-word;
}

.PostIt-body {
    font-size: 0.8rem;
    text-align: center;
    word-break: break-word;
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding: 0.5em;
}

.PostIt-footer {
    font-size: 0.7rem;
    border-top: 1px solid lightgrey;
    width: 100%;
    padding: 0.5em;
    margin: 0;
}